html
	head
		link(href="/animate.css" rel="stylesheet")
		style.
			body {margin: 0}
			.main {background-color: #34495E; height: 100%}
			.buttons {list-style-type: none; padding: 2rem}
			.button {margin: 2rem; padding: 1rem; background-color: #95A5A6; text-align: center; border-radius: 4px;}
			.button__name {font-family: arial; color: #fff;}
			.button:nth-child(1) { font-size: 8rem; background-color: #D80505;}
			.button:nth-child(2) { font-size: 4rem; margin: 2rem 4rem; }
			.button:nth-child(3) { font-size: 2rem; margin: 2rem 8rem; }
			.button:nth-child(n+4) { font-size: 1rem; margin: 2rem 16rem; }
			.new-round-button {position: absolute; bottom: 1rem; right: 1rem; background-color: rgba(0,0,0,.1); border-width: 0; padding: 1rem; border-radius: 2px; color: #fff; font-size: 1rem;}
	body
		main.main
		script(src="/socket.io/socket.io.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/react/16.0.0/umd/react.development.js")
		script(crossorigin src="https://unpkg.com/react@16/umd/react.development.js")
		script(crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js")

		script.
			async function main () {
				const buttons = await fetch('/api/buttons')
					.then(response => response.json())
					.then(buttons => {
						return buttons.reduce((buttons, button) => {
							buttons[button.buttonId] = button;
							return buttons;
						}, {});
					});

				const socket = io();

				class App extends React.Component {
					constructor () {
						super();
						this.state = {buttonsPressed: {}}
					}

					componentDidMount () {
						const {socket} = this.props;

						socket.on('button-pressed', buttonPress => {
							const {buttonsPressed} = this.state;
							const {buttonId, timestamp} = buttonPress;

							const buttonPressed = buttonsPressed[buttonId];

							if (buttonPressed !== undefined) {
								return;
							}

							const pressCount = Object.keys(buttonsPressed).length + 1;

							this.setState({buttonsPressed: Object.assign({}, buttonsPressed, {[buttonId]: pressCount})});
						});

						socket.on('round-created', roundCreated => {
							console.log('round-created');
							this.setState({buttonsPressed: {}});
						});
					}

					render () {
						const {buttons} = this.props;
						const {buttonsPressed} = this.state;

						return React.createElement('div', {},
							React.createElement('button', {className: 'new-round-button', onClick: () => fetch('/api/rounds', {method: 'POST'})}, 'New Round'),
							React.createElement('ul', {className: 'buttons'}, 
								Object.entries(buttonsPressed).map(entry => 
									React.createElement('li', {className: 'button animated bounceIn', key: entry[0]},
										React.createElement('span', {className: 'button__name'}, buttons[entry[0]].name),
									)
								)
							)
						);
					}
				}

				const mainElement = document.querySelector('.main');
				
				ReactDOM.render(React.createElement(App, {socket, buttons}), mainElement);
			}

			main();
