.btn {
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
}
.btn a {
	color: white;
	text-decoration: none;
}

.btn--blue {background-color: #008CBA;}
.btn--red {background-color: #f44336;}
.btn--grey {background-color: #e7e7e7; color: black;}
.btn--black {background-color: #555555;}