doctype html
html
	head
		meta(charset='utf-8')
		title Buzztastic!
		base(href=baseHref)
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(href='animate.css', rel='stylesheet', type='text/css')
		link(href='home.css', rel='stylesheet', type='text/css')
		link(href='main.css', rel='stylesheet', type='text/css')
		link(href='quiz.css', rel='stylesheet', type='text/css')
		link(href='nav.css', rel='stylesheet', type='text/css')
		style.
			html, body {padding: 0; margin: 0; height: 100%}
			body {background-color: #34495E}
	body
		.top-nav
			img.top-nav-brand(src='images/splash_3.png')
		#root
		script.
			const baseUrl = document.querySelector('head base').attributes.href.value;
			const baseApiUrl = baseUrl === '/app/' ? '/api' : 'https://api.qubu.io';
		script(src='/socket.io/socket.io.js')
		script(type="text/javascript" src="index.js")
