doctype html
html
	head
		meta(charset="UTF-8")
		base(href=`${router && router.path || ''}/`)
		title QuBu - The buzztastic quiz buzzer.
		style.
			html, .body, .main { height: 100%}
			.main { display: flex; justify-content: center; align-items: center; }
			.rotate { animation: rotation 2s infinite linear; }
			@keyframes rotation {
				from {
					transform: rotate(0deg);
				}
				to {
					transform: rotate(359deg);
				}
			}
	body.body
		main.main
			h1
				img.rotate(src="splash_3.png" alt="QuBu - The buzztastic quiz buzzer." title="QuBu")
		script(src="/socket.io/socket.io.js")
		script.
			const socket = io();
			socket.on('quiz.created', buttonPress => {
				console.log('quiz.created');
			});
